:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
button {
  border: 1px solid darkgray;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}

button.clicked {
  background-color: wheat;
}
