.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttonGroup button {
  background-color: whitesmoke;
  color: gray;
  transition: all 0.2s ease;
}

.buttonGroup button:active {
  transform: translateY(1px);
}
.buttonGroup button:hover {
  background-color: wheat;
}

.buttonGroup button.clicked {
  background-color: wheat;
}

/* .greenbox {
  background-color: rgb(0, 255, 128);
}

.redbox {
  background-color: red;
} */
